
body{
    background-color:black
}

.music-player {
    display: none;
  }

.colorful-header {
    font-size: 60px;
    text-align: center;
}


.colorful-header span:nth-of-type(1) {
    color: red; 
}
.colorful-header span:nth-of-type(2) {
    color: orange; 
}
.colorful-header span:nth-of-type(3) {
    color: greenyellow;
}
.colorful-header span:nth-of-type(4) {
    color: blue;
}
.colorful-header span:nth-of-type(5) {
    color: violet;
}


.colorful-header span:nth-of-type(7) {
    color:white;
    font-family:'Trattatello, fantasy';
    font-style: italic; /*26th*/
}
.colorful-header span:nth-of-type(8) {
    color:white;
    font-family:'Trattatello, fantasy';
    font-style: italic;
}
.colorful-header span:nth-of-type(9) {
    color:white;
    font-family:'Trattatello, fantasy';
    font-style: italic;
}
.colorful-header span:nth-of-type(10) {
    color:white;
    font-family:'Trattatello, fantasy';
    font-style: italic;
}


.colorful-header span:nth-of-type(12) {
    color: pink;
}
.colorful-header span:nth-of-type(13) {
    color: red
}
.colorful-header span:nth-of-type(14) {
    color: orange;

}
.colorful-header span:nth-of-type(15) {
    color: greenyellow;
}
.colorful-header span:nth-of-type(16) {
    color: blue;
}
.colorful-header span:nth-of-type(17) {
    color: violet;
}
.colorful-header span:nth-of-type(18) {
    color: pink;
}
.colorful-header span:nth-of-type(19) {
    color: red;
}


.image {
    background-image: url(photos/sam.jpg);
    background-size: cover;
    background-position: 50% 38%;
    height: 400px;

}

.thingys {
    color: red;
    font-size: 30px;
}


.things {
    color: lavender;
    font-size: 40px;
    text-align: center;

}

h2 {
    color: white;
    text-align: center;
    font-size: 90px;
}

.hearts {
    position: absolute;
    top: 650px;
    left: 225px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

ol {
    color: white;
    font-size: 20px;
    text-align: left; 
    padding: 40;

}

.gif {
    position: absolute;
    top: 1020px; 
    left: 750px;   
}

p {
    color: red;
    size: 15px;
    text-align: center;
}

.tape-measure {
    position: absolute;
    top: 2150px;
    left: 600px;
}

.malort {
    position: absolute;
    top: 1800px;
    left: 300px;
}

.knife {
    position: absolute;
    top: 2140px;
    left: 710px;
}
    
.pool {
    position: absolute;
    top: 1900px;
    left: 520px;
}

.tpain {

    position: absolute;
    top: 1900px;
    left: 750px;
}

.davos {
    position: absolute;
    top: 1900px;
    left: 970px;
}

.indian-cookbook {
    position: absolute;
    top: 2150px;
    left: 1175px;
}

.bike {
    position: absolute;
    top: 2050px;
    left:50px;
}

.guitar {
    position: absolute;
    top: 2000px;
    left: 5px;
}

.loom {
    position: absolute;
    top: 1850px;
    left: 75px;
}

.jessi {
    position: absolute;
    top: 1800px;
    left: 200px;

}

.chicken {
    position: absolute;
    top: 1700px;
    left: 1100px 
}

.dog {
    position: absolute;
    top: 2120px;
    left: 750px;
}


.cake {

    position: absolute;
    top: 2670px;
    left: 320px;
}

.flame-1 {
    position: absolute;
    top: 2700px;
    left: 490px;
}

.flamer {
    position: absolute;
    top: 2700px;
    left: 570px;
}
.flamey {
    position: absolute;
    top: 2700px;
    left: 650px;
}
.flamiest {
    position: absolute;
    top: 2700px;
    left: 730px;
}
.flamboyant {
    position: absolute;
    top: 2700px;
    left: 810px;
}
.flammable {
    position: absolute;
    top: 2700px;
    left: 890px;
}

